.banner_img{
    padding: 2vw;
    width: 96vw;
    z-index: -999;
    margin: 3em 0 -8em;
    transition: all 1s;
}
.banner{
    &{
        background: var(--primaria-degrade);
        text-align: center;
        width: cal(100vw-2em);
        padding: 2.5em 2em;
        position:relative;
        z-index: 0;
    }
    .banner_titulo{
        font-size: 1.5em;
        font-weight: 600;
    }
    .banner_texto{
        font-size: 0.875em;
        font-weight: 400;
        width: 100%;
        margin: 1em 0 0 0;
    }
    
}
@media screen and (min-aspect-ratio: 2/3) {
    .container-banner{
        max-width: 40vw;
        transition: all 1s;
    }
    .banner_img{
        width: 42vw;
        margin: 3em 0 -9.6em;
        transition: all 1s;
    }
    .banner{
        width: 40vw;
        border-radius: 0em 1em 1em 0em;
        transition: all 1s;
    }

}