:root{
    --cor-primaria: #bf7a02;
    --cor-primaria-claro: #FBA003;
    --cor-primaria-clarissima: #E6DDCF;
    --cor-primaria-escuro: #513301;
    --cor-primaria-escurissima: #261800;
    --primaria-degrade: linear-gradient(160deg, #00000000 0%, #131000 50%,#261800 100%);
    --cor-secundaria: #02bf52;
    --cor-secundaria-claro: #03FB6A;
    --cor-secundaria-claro2: #A7FACA;
    --cor-secundaria-clarissima: #CFE6D8;   
    --cor-secundaria-escuro: #015122;
    --cor-secundaria-escurissima: #002610;
    --cor-terciaria: #7202BF;
    --cor-terciaria-claro: #9703FB;
    --cor-terciaria-clarissima: #DCCFE6;
    --cor-terciaria-escuro: #310151;
    --cor-terciaria-escurissima: #170026;
    --branco: #fff;
    --preto: #000;
    --transparente: #0000;
}