header.cabeçalho{
    &{  
        background: linear-gradient(180deg, var(--cor-primaria-escurissima) 0%, var(--preto) 80%,var(--transparente) 100%);
        display: flex;
        justify-content: space-between;
        position:fixed;
        width: 100vw;
        z-index: 999;
    }
    /* Whatsapp e Menu hamburguer */
    .container-2{
        display: flex;
        align-items: center;
        justify-content: right;
    }
    .menu{
        display: inline-block;
        z-index: 998;
    }
    .menu-container{
        &{
            cursor: pointer;
            height: 40px;
            margin: 0 1em;
            position: relative;
            width: 40px;
        }
        .line{
            height: 28px;
            width: 28px;
            position: absolute;
            left: 4px;
            top: 4px;
            transition: transform 250ms ease-in-out;
        }
        .line-inner{
            height: 4px;
            width: 28px;
            background: var(--branco);
            border-radius: 4px;
            position: absolute;
            transition: transform 250ms ease-in-out,background 1s ease-in-out;
        }
        &:hover .line-inner{
            background: var(--cor-primaria);
            transition: transform 250ms ease-in-out,background 1s ease-in-out;
        }
        .line-inner-1{
            top: 12px;
            transform: translateY(-5px);
        }
        .line-inner-2{
            bottom: 12px;
            transform: translateY(5px);
        }
    }
    /* Menu suspenso*/
    ul.lista-menu {
        & {
            visibility:hidden;
            position: absolute;
            top: 100%;
            width: 100vw;
            height: 80vh;
            background-color: var(--preto);
            z-index: 999;
            padding-top: 0.7em;
            transition: all 0.300s ease-in-out;
            opacity: 0%;
        }
        li{
            &{
                margin: 1.3em 1em 1em 1em ;
                transition: all 0.3s ease-in-out;
            }
            a.lista-menu_item:visited,a.lista-menu_item{
                font-size: 1.6em;
                font-weight:700;
            }
        }
    }
    /* Menu suspenso Ativo */
    &:has(.menu-container.active){
        /* Esconde tranparencia do footer ao abri-lo */
        &{
            background: linear-gradient(180deg, var(--cor-primaria-escurissima) 0%, var(--preto) 80%);
        }
        .lista-menu{
            &{
                visibility: visible;
                opacity: 100%;
                height: calc(100vh - 42.3224px);
                transition: all 0.300s ease-in-out;
            }
            li:hover a{
                color: var(--cor-primaria);
            }
            :has(.lista-menu_item):hover{
                margin: 1.3em 1em 1em 0em;
                padding-left: 2em;
            }
        }
    }
    .menu-container.active{
        .line-1{
            transform: rotateZ(45deg);
        }
        .line-2{
            transform: rotateZ(-45deg);
        }
        .line-inner{
            transform:none;
        }
    }
}