footer, footer *{
    text-align: center;
    margin: 0.5em;
}
.rodape-nome{
    font-weight: 700;
    color:var(--cor-primaria-clarissima)
}
.rodape_direitos{
    font-weight: 200;
    margin: 0.5em 0.5em 2em;
}